<footer class="site-footer">
  <div class="footer-wrapper">

    <section class="footer-centered">
      
      <h2>CALL US</h2>
      <p>
        {{ site.tel }}
      </p>
      <p>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
      
    </section>

    <hr class="footer-hr">

    <section class="footer-centered">
      <p>
        Copyleft {{ site.time | date: '%Y' }} - Kugghuset AB
      </p>
      <p>
        Hosted with ❤ by GitHub, <a target="_blank" href="https://github.com/Kugghuset/kugghuset.github.io">check it out!</a>
      </p>
    </section>

  </div>
</footer>