// FONTS

$font-body: 'Helvetica Neue', Arial, sans-serif;
$font-header: omnes-pro, 'Helvetica Neue', Arial, sans-serif;

$line-height: 1.2em;
$line-hight-navbar: 50px;

$font-size-body: 15px;
$font-size-h1: 44px;
$font-size-h2: 26px;
$font-size-h3: 16px;

// COLORS

$color-body: rgb(54, 54, 54);
$color-black: rgba(1, 0, 26, 0.8);
$color-black-hover: rgba(1,0,26,.5); 
$color-background: rgb(255, 255, 255);
$color-footer: rgb(31, 37, 50);
$color-higlight-pink: rgba(247, 151, 223, 0.831373);
$color-higlight-blue: #4575de;
$color-higlight-blue-light: #8fbcf0;
$color-higlight-blue-dark: #1f2532;
$color-border: #bbb;
